* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
  }

  h1 {
    font-size: 48px;
  }

  button {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
  }
  #dices section {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    display: inline-block;
    margin-left: 25px;
  }

  html {
    filter: invert(100%) hue-rotate(180deg);
  }

  form {
    margin-top: 25px;
  }